body #wpadminbar #wp-admin-bar-wp-logo > .ab-item {

	background-image: url(../assets/submark-black.svg);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 80%;
	}

body #wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon::before {

	content: "";
}